Babel==2.9.1
CouchDB==0.9
Flask==1.0
Flask-Babel==0.9
Flask-Script==0.5.3
Jinja2>2.10.1
MarkupSafe==0.18
Werkzeug>0.15.3
itsdangerous==0.22
py-bcrypt==0.3
pytz==2013b
requests==2.20.0
speaklater==1.3
wsgiref==0.1.2
